:root { 
  --color: #F6F7F8;
  --background-color: #282b30;
  --heading-background-color: #b4a983;
  --hover-background-color: #17517268;
  --checked-background-color: #175172;
}

html {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--color);
  
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background: var(--background-color);
  margin: 0;
}

main {
  padding: 0 10%;
  padding-bottom: 40px;
}

h1 {
  font-size: 2.5rem;
  background-image: repeating-linear-gradient(90deg, var(--heading-background-color) 0, var(--heading-background-color) 2px, rgba(0, 0, 0, 0) 2px, rgba(0, 0, 0, 0) 4px);
  background-size: 4px 4px;
  background-repeat: repeat-x;
  background-position: center bottom;
  padding-top: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}