.checkBoxs {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(90px, 0.5fr));
}

.checkBoxs.labels {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.checkBox input[type=checkbox],
.checkBox input[type=radio] { 
  display: none;
}

.checkBox label {
  float: left;
  margin: 5px;
  width: -webkit-fill-available;
  height: 35px;
  line-height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: var(--color);
  border: 1px dotted var(--color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e2124;
}

.checkBoxs.labels .checkBox {
  width: 75%;
}

.checkBox input[type="checkbox"]:hover + label,
.checkBox input[type="radio"]:hover + label {
  background: var(--hover-background-color);
  border: 1px solid var(--color);
}

.checkBox input[type="checkbox"]:checked + label,
.checkBox input[type="radio"]:checked + label {
  background: var(--checked-background-color);
  border: 1px solid var(--color);
}

@media screen and (max-width: 600px) {
  .checkBoxs.labels {
    flex-wrap: wrap;
  }
  
  .checkBoxs.labels .checkBox {
    width: 50%;
  }
}